/* general styles */
body {
    margin: 0;
    background-color: #f2f1ef;
}

* {
    font-family: "Darker Grotesque", sans-serif;
}

/* header */
.header {
    display: flex;
    width : 100%;
    height: 10vh;
    justify-content: center;
}

.links {
    width: 35%;
}

.links ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 18px;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

#orange {
    color: #E94D35;
}

.moxa {
    position: absolute;
    right: 90px;
    font-size: 23px;
    top: 7px;
}

.moxa h2 {
    margin-top: 0;
}

.burger {
    list-style-type: none;
    position: absolute;
    left: 20px;
    width: 30px;
    height: 30px;
    top: 7px;
}

.burger div{
    height : 2px;
    background-color: black;
    width: 20px;
    margin : 5px;
}

/* section 1 - home */
#home {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cont {
    width: 85%;
    height: 100%;
    position: relative;
}

.cont img {
    /* width: 536px;
    height: 574px; */
    position: absolute;
    right: 10px;
}

.name {
    width: 70%;
    height: 20%;
    position: absolute;
    top: 100px;
}

.name b {
    color : #E94D35;
}

.name h2 {
    margin: 0;
    font-size: 58px;
}

.info_2 {
    width: 50%;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.buttons {
    width: 100%;
    display: flex;
}

.btn_1 {
    background-color: #E94D35;
    width: 177px;
    height: 50px;
    border: 1px solid #E94D35;
    border-radius: 30px;
    color: #FFFFFF;
    position: relative;
    font-size: 20px;
    text-align: start;
}

.btn_1:hover{
    opacity: 0.7;
}

.btn_1 img {
    position: absolute;
    height: 30px;
}

.btn_2 {
    background-color: #f2f1ef;
    width: 177px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.btn_2:hover {
    opacity: 0.7;
}

/* section 2 - about */
#about {
    width: 100%;
    background-color: #000000;
    height: 35vh;
}

.about_blocks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.bl_1 , .bl_2 , .bl_3 , .bl_4 {
    width: 15%;
    height: 67%;
    border: 2px solid #E94D35;
    border-top-right-radius: 35px;
    position: relative;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}

.bl_1:nth-child(even),
.bl_2:nth-child(even),
.bl_3:nth-child(even),
.bl_4:nth-child(even) {
    border: 2px dashed #E94D35;
}


.bl_1 h2,.bl_2 h2 ,.bl_3 h2 , .bl_4 h2{
    margin: 0;
}

#years , #progects , #clients , #award {
    font-size: 16px;
}

.bl_1 img,.bl_2 img,.bl_3 img,.bl_4 img {
    position: absolute;
    top : -20px;
    left: 10px;
}

/* section 3 - companies */
.companies {
    width: 100%;
    display: flex;
    height: 30vh;
}

.pattern {
    align-self: center;
}

.text_1 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 90px;
}

.text_1 img {
    width: 104px;
    height:13px ;
}

.text_1 h2{
    font-weight: bold;
    font-size: 26px;
}

/* section 4 - services */
#services {
    width: 100%;
    height: 50vh;
}

#services .img_1 {
    position: relative;
    left: 1410px;
}

.title_1 {
    /* width: 20%; */
    text-align: center;
}

#services_h2 {
    font-size: 45px;
    margin: 0 0 50px 0;
}

.cont_2 {
    display: flex;
    width : 100%;
    height: 45vh;
    justify-content: center;
}

.blocks_2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.block_1 {
    background-color: #e6e3de;
    width : 32%;
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    filter: drop-shadow(16px #E6E3DE17);
}

.block_1 h2 , .block_2 h2 , .block_3 h2{
    font-size: 32px;
    font-family: "Inter", sans-serif;
}

.block_1 p,.block_2 p , .block_3 p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.block_2 {
    background-color: #E94D35;
    width: 32%;
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
}

.block_3 {
    background-color: #e6e3de;
    width: 32%;
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

/* section 5 - portfolio */
#portfolio {
    width: 100%;
    height: 50vh;
    margin-top: 500px;
}

.box1 , .box2 , .box3 , .box4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35vh;
}

.box2 {
    margin-top: 190px;
    justify-content: center;
}

.box3 {
    margin-top: 190px;
    position: relative;
}

.box4 {
    margin-top: 150px;
    position: relative;
}

.bottle {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.img_2 {
    width: 50%;
}

.text {
    width: 40%;
}

.text_2 {
    width: 60%;
}

.text_3 {
    width: 40%;
}

.text_4 {
    width: 60%;
}

.decor {
    position: absolute;
    right: 0px;
    top : -20px;
}

.decor_2 {
    position : absolute;
    left: 0;
    top: -20px;
}

.decor_3 {
    position: absolute;
    right: -251px;
    top : 80px;
}

#direction , #branding ,#web ,#motion{
    background-color: #E94D35;
    color: #FFFFFF;
    font-size: 18px;
    width: 30%;
    padding: 5px 0px;
    text-align: center;
}

.text h2 , .text_2 h2,.text_3 h2,.text_4 h2{
    font-size: 45px;
}

.text button , .text_2 button, .text_3 button  , .text_4 button{
    height: 37px;
    width: 143px;
    border: 1px solid #E94D35;
    border-radius: 30px;
    /* padding: 0 20px; */
}

.text button:hover , .text_2 button:hover,.text_3 button:hover,.text_4 button:hover {
    opacity: 0.7;
}

.mask {
    width: 65%;
    display: flex;
    justify-content: flex-start;
}

.img_3 {
    width: 50%;
}

.sign {
    width: 75%;
    display: flex;
    justify-content: center;
}

.img_4 {
    width: 50%;
}

.glass {
    width: 65%;
    display: flex;
    justify-content: flex-end;
}

/* section 6 - contacts */
#contacts {
    width: 100%;
    height: 80vh;
    margin-top: 1500px;
    display: flex;
    justify-content: center;
}

.container {
    width: 67%;
    display: flex;
    justify-content: space-between;
}

.contact {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.contact img {
    width: 58px;
    margin: 10px 0;
}

.contact h2{
    font-size: 45px;
    margin: 5px;
}

.contact p{
    font-size: 20px;
}

.img_5{
    display: flex;
    /* justify-content: flex-start; */
}

.img_5 h2 {
    height: 20px;
    width: 40px;
    font-size: 16px;
    color: #00000073;
    margin-top: 20px;
    margin: 0;
}

.img_5 p{
    font-size: 16px;
    margin: 0;
    color: #000000;
}

.img_5 div{
    height: 20%;
    margin: 10px 0 0 10px;
}

#number {
    width: 77px;
}

.form {
    width: 60%;
    position: relative;
}

.form h2 {
    font-size: 45px;
    margin: 0 0 20px 0;
}

.form input {
    width : 40%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    background-color: #f2f1ef;
}

.input_1 {
    display: flex;
    justify-content: space-between;
}

.input_2 {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#message {
    width: 93%;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    background-color: #f2f1ef;
}

#submit {
    border: 1px solid gray;
    border-radius: 30px;
    background-color: #E94D35;
    color: #FFFFFF;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    height: 10%;
}

#submit:hover {
    opacity: 0.7;
}


/* footer */
footer {
    margin-top: 150px;
    width: 100%;
    height: 50vh;
}

.subscribe {
    width: 100%;
    height: 25vh;
    background-color: #e6e3de;
    display: flex;
}

.title_2 {
    width: 50%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.title_2  h2{
    font-size: 23px;
}

.email  input{
    border: 2px solid #E94D35;
    border-radius: 30px;
    padding: 4px;
    background-color: #e6e3de;
    width: 354px;
    height: 36px;
}

.email {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn_3 {
    border: 1px solid gray;
    border-radius: 30px;
    background-color: #E94D35;
    color: #FFFFFF;
    height: 46px;
    width: 140px;
    margin-left: 20px;
}

.btn_3:hover {
    opacity: 0.7;
}

.bottom {
    background-color: #161513;
    height: 30vh;
    display: flex;
    position: relative;
}

.img_6 {
    padding: 20px 0 0 40px;
    width : 30%;
}

.b {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    width: 50%;
    /* font-size: 20px; */
}

.b h2{
    font-size: 20px;
    margin-top: 20px;
}

.b img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.b_title {
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

/* ADAPTIVE DESIGN */
/* 290 - 410 */
@media screen and (min-width: 290px) and (max-width: 410px){
    .header {
        font-size: 3px;
    }

    .links {
        display: none;
    }
    
    .moxa {
        position: absolute;
        right: 10px;
        font-size: 23px;
        top: -5px;
    }

    .burger {
        list-style-type: none;
        position: absolute;
        left: -20px;
        width: 30px;
        height: 30px;
        top: 7px;
    }

    /* section 1 */
    #home {
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        /* margin-top: 50px; */
    }

    .name b {
        color : #E94D35;
    }
    
    .name h2 {
        margin: 0;
        font-size: 22px;
    }
    
    .info_2 {
        width: 50%;
        font-size: 18px;
        font-family: "Inter", sans-serif;
        min-width: 20%;
    }
    
    .cont img {
        width: 50%;
        position: absolute;
        right: 5px;
        top: 130px;
    }

    .btn_1 {
        background-color: #E94D35;
        width: 190%;
        height: 50px;
        border: 1px solid #E94D35;
        border-radius: 30px;
        color: #FFFFFF;
        position: relative;
        font-size: 12px;
        text-align: start;
        right: 20px;
    }

    .btn_1 img {
        position: absolute;
        height: 30px;
        width: 30px;
        top : 10px;
        right: 10px;
    }

    .btn_2 {
        background-color: #f2f1ef;
        width: 90%;
        height: 50px;
        border: 1px solid black;
        border-radius: 30px;
        color: black;
        font-size: 12px;
        /* margin-left: 20px; */
    }

    /* section 2 */
    .bl_1 , .bl_2 , .bl_3 , .bl_4 {
        width: 22%;
        height: 50%;
        border: 2px solid #E94D35;
        border-top-right-radius: 35px;
        position: relative;
        color: #FFFFFF;
        font-size: 12px;
        text-align: center;
    }

    #years , #progects , #clients , #award {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .bl_1 h2,.bl_2 h2 ,.bl_3 h2 , .bl_4 h2{
        margin-top: 19px;
    }
    
    /* section 3 */
    .pattern {
        align-self: center;
        width: 50px;
        height: 70px;
    }

    .pattern img {
        width: 100%;
        height: 100%;
    }

    .text_1 {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
    }
    
    .text_1 img {
        width: 70px;
        height: 8px;
        margin-top: 6px;
    }
    
    .text_1 h2{
        font-weight: bold;
        font-size: 18px;
    }

    /* section 4 */
    
}